*{
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: start;
}

h1{
    margin-bottom: 10px;
    color: #262A41;
}

p{
    font-size: 0.9rem;
    color: #262A41;
}

.container{
    width: 40%;
    padding:50px;
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
}

.qr-form{
    margin: 20px;
    width: 100%;
}

.qr-code{
    display: none;

}

.qr-code button{
    width: 100%;
    background: transparent;
    cursor: pointer;
    border: none;
    margin-top: 30px;
}

.qr-code button:hover{
    transition: linear all 0.3s;
    filter: drop-shadow(3px 3px 20px #1a1a1a80);
}
.qr-code.active{
    display: flex; 
    padding: 20px;
    flex-direction: column;

}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus ~ .underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    border: none;
    background: transparent;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


.btnQr{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    box-shadow:  1px 1px 5px 4px #1a1a1a30;
    margin-top: 20px;
    background: linear-gradient(to left, #8e2de2, #4a00e0);

}

.btnQr.active{
    background: linear-gradient(to left, #8e2de2, #4a00e0);
    color: #fff;
    transition: ease-in-out 0.5s;
}

.btnQr.btnQr.active:hover{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    letter-spacing: 1px;
}

.btnQr:hover{
    transition: ease-in-out all 0.3s;
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}
.btnQr:disabled{
    cursor: none;
    background: #fafafa;
    color: #1a1a1a80;
}


@media screen and (max-width: 799px) {
    .container{
        width: 90%;
        padding: 30px;
        text-align: center;
        box-shadow: none;
        background: transparent;
    }
}